<%- include('../partials/addons/all-links', { title: 'Home' }) %>

    <body>
        <%- include('../partials/header') %>
            <main>

            </main>
            <%- include('../partials/addons/common-js') %>
                <%- include('../partials/addons/js/index_view') %>
                    <%- include('../partials/footer') %>
    </body>

    </html>